body
{
	background: #D3D3D3;
	font-family: sans-serif;
	color: red;
}
div
{
	width: 500px;
	margin: auto;
}

blockquote
{
	text-align: center;
    border: 1px solid black;
    margin-left:0;
}
